
body {
    margin: 0;
    font-family:  sans-serif;
  }
ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color:  rgb(68, 68, 68);
}

li {
    float: left;
    text-align: center;
    padding-right: 0px;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 42px 25px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: rgb(0, 255, 200);  
 
}
.title{
    font-size: 80px;
}
.title2{
    font-size: 50px;
}
body {
    margin: 0;
    font-family:  sans-serif;
  }
  
.center{
    padding-top: 20px;
    padding-right: 50px;
    float: right;
}  
.box{
    font-family: Helvetica;
    font-size: 100px;
    border-radius: 450px;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, .5);




}
.searchBox{
    margin-top: 20px;
    border: none;
    background-clip: #f1f1f1;
    height: 10px;
    width: 300px;
    padding: 10px;
}
.searchB{
    margin-top: 20px;
    border: none;
    background-color: rgb(0, 255, 200);
    background-clip: #f1f1f1;
    height: 30px;
    width: 100px;
}
li img{
    padding: 15px;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;   
    border: none;
    color: white;
    padding: 42px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: rgb(0, 255, 200);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 255, 200);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}
  

  .slideshow_wrapper1 {
    margin: 50px 100px;
     
  }
  .slideshow_wrapper {
    margin: 0 100px;
     
  }
  .slideshow1 {
    margin: 0 0 0 -100px;
   position: relative;
    -webkit-animation-name: slide_animation1;
    -webkit-animation-duration: 10s; 
    -webkit-animation-fill-mode: forwards;
  }
  .slideshow2 {
    margin: 0 200 0 -100px;
   position: relative;
    -webkit-animation-name: slide_animation2;
    -webkit-animation-duration: 10s; 
    -webkit-animation-fill-mode: forwards;
  }
 
  @-webkit-keyframes slide_animation1 {
    
    0% {left:90px;}
    10% {left:120px;}
    20% {left:120px;}
    30% {left:120px;}
    40% {left:120px;}
    50% {left:120px;}
    60% {left:120px;}
    70% {left:120px;}
    80% {left:120px;}
    90% {left:120px;}
    100% {left:120px;}
    
    
  }
  @-webkit-keyframes slide_animation2 {
    
    0% {top:40px;}
    10% {top:0px;}
    20% {top:0px;}
    30% {top:0px;}
    40% {top:0px;}
    50% {top:0px;}
    60% {top:0px;}
    70% {top:0px;}
    80% {top:0px;}
    90% {top:0px;}
    100% {top:0px;}
    
  }
.box{
    widows: 150px;
    height: 380px;
    background-color: rgb(0, 255, 200);
}
.box2{
    widows: 150px;
    height: 100px;
    background-color: rgb(0, 255, 200);
}
.con{
    width: 50%;
}
.table{
    width: 90%;
    border-collapse: collapse;
    border: 1px solid rgb(0, 255, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
#td, .th{
    border: 1px solid rgb(250, 250, 250);
    padding: 10px 10px;
     text-align: left;
}
.tdH{
    border: 1px solid rgb(250, 250, 250);
    padding: 10px 10px;
    text-align: center;
}
.tdimg{
    padding: 10px 10px;
    text-align: center;
}
.colortable{
   
    background-color:  rgb(0, 255, 200);
}
